[submodule "src/content/vendor/worldant"]
	path = src/content/vendor/worldant
	url = https://github.com/Midwess/worldant.git
[submodule "ui"]
	path = ui
	url = https://github.com/Midwess/orbit-ui.git
